[submodule "Carthage/Checkouts/CocoaAsyncSocket"]
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
	path = Carthage/Checkouts/CocoaAsyncSocket
[submodule "Carthage/Checkouts/SwiftSockets"]
        url = https://github.com/AlwaysRightInstitute/SwiftSockets.git
        path = Carthage/Checkouts/SwiftSockets
